@font-face {
  font-family: Lexend-Black;
  src: url(./font/Lexend-Black.ttf);
}

@font-face {
  font-family: Lexend-Bold;
  src: url(./font/Lexend-Bold.ttf);
}

@font-face {
  font-family: Lexend-ExtraBold;
  src: url(./font/Lexend-ExtraBold.ttf);
}

@font-face {
  font-family: Lexend-ExtraLight;
  src: url(./font/Lexend-ExtraLight.ttf);
}

@font-face {
  font-family: Lexend-Light;
  src: url(./font/Lexend-Light.ttf);
}

@font-face {
  font-family: Lexend-Medium;
  src: url(./font/Lexend-Medium.ttf);
}

@font-face {
  font-family: Lexend-Regular;
  src: url(./font/Lexend-Regular.ttf);
}

@font-face {
  font-family: Lexend-SemiBold;
  src: url(./font/Lexend-SemiBold.ttf);
}

@font-face {
  font-family: Lexend-Thin;
  src: url(./font/Lexend-Thin.ttf);
}

h1 {
    text-align: center
}

head {
    background-color: #FBBA72;
}
body {
    background-color: #8F250C;
}
footer {
  flex-shrink: 0;
  border-top: l #000;
  width: 0%;
  background: #b62e2e;
  color: #333;
  margin: 0%;
  background: rgb(104, 230, 2);
  width: 100%;

}

.contenu-footer {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 20px;
  padding: 50px 0 100px;
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(255, 209, 4);
    background-image: linear-gradient(
      to center,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0)
    );
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  }
  
  .styled:hover {
    background-color: rgba(255, 0, 0, 1);
  }
  
  .styled:active {
    box-shadow:
      inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }
  
  figure {
    text-align: right;
  }


.accueilcontent {
    max-width: 700px;
}

  .accueilcontent h1 {
    font-size: 45px;
    font-weight: 300;
}

.accueilcontent h2 {
  text-align: right;
  font-size: 30px;
  font-weight: 300;
  color: #00abf0;
}

.accueilcontent p {
  font-size: 20px;
  font-weight: 200;
}

.copyright{
  margin-right: 10%;
  font-size: xx-small;
  font-style: italic ;
  margin-block-start: 100%;
  text-align: right;
}

