h1 {
    text-align: center;
    font-family: ;
}
head {
    background-color: #FBBA72;
}
body {
    background-color: #8F250C;
}

footer {
    background-color: #FBBA72 ;
    text-align: center;
    text-size-adjust: 7;
}
